.container {
    height: 30vh;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


.loader {
    width: 48px;
    height: 48px;
    border: 3px solid var(--grey-accent-400);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
      content: '';  
    box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-bottom-color: #FF3D00;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 