.image {
  border-radius: 50%;
}
.image_placeholder {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  background-color: var(--teal-accent-100);
  color: #ffffff;
}
