.login_page {
  display: flex;
  height: 100vh;
  background-color: var(--grey-accent-100);
}

.content_section {
  width: 50%;
  min-height: 80%;
  padding-bottom: 5%;
  margin: auto;
  border-radius: var(--radius-container-100);
  box-shadow: var(--shadow-container-100);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo_image {
  margin: 0 auto;
  width: 80px;
  margin-top: 2rem;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.input_fields_wrapper {
  width: 100%;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forgot_prompt {
  display: flex;
  justify-content: space-between;
  color: #13a5f2;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 10px;
}

@media screen and (max-width: 414px) {
  .content_section {
    width: 90%;
    min-height: 60%;
    padding-block: 10%;
    margin: auto;
    box-shadow: none;
  }

  .logo_image {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
  }

  .form_wrapper {
    width: 80%;
  }

  .forgot_prompt {
    font-size: 0.9rem;
  }
}
