.data_loading_error {
  display: flex;
  gap: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--grey-accent-900);

  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.icon path {
  stroke: var(--grey-accent-900);
}

@media screen and (max-width: 414px) {
  .data_loading_error {
    width: 85vw;
    gap: 0;
    font-size: 1rem;
  }

  .icon {
    margin-right: 10px;
  }
}
