.medications_list_header {
  display: flex;
  align-items: center;
}
.heading {
  display: flex;
  gap: 0.5rem;
  font-size: 1.3rem;
}
.number_of_medications {
  font-weight: 600;
}
.actions {
  margin-left: auto;
}

@media screen and (max-width: 414px) {
  .medications_list_header {
    justify-content: space-between;
    width: 100%;
  }
}
