.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: var(--absolute-z-index-modal);

    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: calc(var(--absolute-z-index-modal) - 100);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7.5px);
    cursor: pointer;
}

.content_container {
    background: white;
    width: 60vw;
    height: max-content;
    max-height: 80vh;
    margin: 0 auto;
    border-radius: 16px;

    overflow-y: auto;
}
