/* DESKTOP SCREEN */
@media screen and (min-width: 1024px) {
    .mobile_sidebar_wrapper {
        display: none;
    }

    .body {
        display: flex;
        --sidebar-width: 270px;
    }
    /* .sidebar_wrapper {
        display: block;
        width: var(--sidebar-width);
        position: fixed;
        height: 100vh;
    } */
    .main {
        margin-left: var(--sidebar-width);
        width: calc(100% - var(--sidebar-width));
    }
}
