.container {
    margin: 20vh auto 0;
    width: 90%;
}
.form_title {
    margin-top: 18vh;
    text-align: center;
    font-style: normal;
}
.form_title .title {
    font-weight: 600;
    font-size: 26px;
}
.form_title .sub_title {
    font-size: 26px;
    font-weight: 400;
    font-size: 16px;
    color: var(--grey-accent-800);
    margin-top: 2%;
}
.recovery_email{
    margin-top: 1%;
    font-weight: 600;
}

.recover_email_form {
    margin: 0 auto;
    margin-top: 5vh;
    width: 90%;
}

.recovery_email_set {
    margin: 0 auto;
    margin-top: 5vh;
}

.input_field_wrapper {
    margin: 5% 0;
}

.submit_btn_wrapper {
    margin: 5% auto 0;
    width: 100%;
    height: 50px;
}
.submit_btn_wrapper button {
    background-color: green;
    color: black;
    font-weight: bolder;
}

.back_btn_wrapper {
    margin: 5% auto;
    width: 90%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--teal-accent-100);
    font-weight: 600;
}
.back_btn_wrapper div {
    margin-left: 5%;
}

@media screen and (min-width: 500px) {
    .container {
        width: 70%;
    }
} 

@media screen and (min-width: 900px) {
    .container {
        width: 50%;
    }
} 

@media screen and (min-width: 1024px) {
    .container {
        width: 30%;
    }

    .recover_email_form_container {
        width: 60vh;
        margin: 15vh auto 0;
    }
    .recover_email_form {
        margin: 0 auto;
        margin-top: 5vh;
    }
    
    .recovery_email_set {
        margin: 0 auto;
        margin-top: 5vh;
    }   

    .back_btn_wrapper {
        margin: 2% auto;
        width: 60%;
    }
    .back_btn_wrapper div{
        margin-left: 1%;
    }
}