.container {
    margin: 0 auto;
    margin-top: 18vh;
}
.title {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
}
.sub_title {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    font-size: 16px;
    color: var(--grey-accent-800);
    margin-top: 2%;
}
.recovery_email{
    text-align: center;
    margin-top: 1%;
    font-weight: 600;
}

.recover_email_form {
    margin: 0 auto;
    margin-top: 5vh;
    width: 90%;
}

.recovery_email_set {
    margin: 0 auto;
    margin-top: 5vh;
}

.resend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.resend_qtn {
    color: var(--grey-accent-800);
}
.resend_btn {
    margin-left: 5%;
    width: 40%;
    background: none;
    color: var(--orange-accent-100);
}

