.global_event_feedback {
    min-width: 300px;
    min-height: 40px;
    border-radius: 8px;
    padding: 5px 10px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.success_state {
    color: var(--green-accent-100);
    border: 1px solid var(--green-accent-100);
    background-color: var(--green-faded-accent-200);
}
.error_state {
    background: var(--red-accent-faded-100);
    color: red;
    border: 1px solid var(--red-accent-100);
}
.close_icon {
    cursor: pointer;
}
.error_state .close_icon path {
    fill: none;
    stroke: var(--red-accent-100);
}
  
.success_state .close_icon path {
    fill: none;
    stroke: var(--green-accent-100);
}
  