.staff_personal_information {
}
.heading {
  font-size: 24px;
  font-weight: 600;
  margin-top: 2%;
  color: var(--black-accent-100);
}

.info_section {
  margin-top: 5%;
  display: flex;
  gap: 1rem;
  row-gap: 26px;
  flex-wrap: wrap;
  width: 90%;
}
.info_field {
  width: calc(100% / 3.5);
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.info_field .label {
  font-weight: 400;
  font-size: 16px;
  color: var(--grey-accent-600-a);
}
.info_field .value {
  font-weight: 600;
  font-size: 18px;
  color: var(--black-accent-100);
}

@media screen and (max-width: 414px) {
  .heading {
    font-size: 22px;
    font-weight: 600;
    margin-top: -50px;
  }
}
