:root {
    /* colors */

    /* Blue pallete */
    --blue-accent-100: #0F88E3;
    --blue-accent-200: #16ADF5;
    --blue-accent-faded-100: rgba(22, 173, 245, 0.04);

    /* Dark blue pallete */
    --dark-blue-accent-100: #0A66D3;
    --dark-blue-faded-accent-100: rgba(2, 50, 182, 0.07);
    --dark-blue-accent-200: #0232B8;
    --dark-blue-faded-accent-200: #0232BA;

    /* grey pallete */
    --grey-accent-100: #FBFBFB;
    --grey-accent-100-a: #FEFEFE;
    --grey-accent-100-b: #F3F3F3;
    --grey-accent-200: #f5f5f5;
    --grey-accent-200-b: #E0E0E0;
    --grey-accent-300: #EDEDED;
    --grey-accent-400: rgba(230, 230, 230, 0.957);
    --grey-accent-500: #C5C5C5;
    --grey-accent-600: #AAAAAA;
    --grey-accent-600-a: #9A9A9A;
    --grey-accent-700: #9C9C9C;
    --grey-accent-700-a: #8E8E8E;
    --grey-accent-800: #7a7878;
    --grey-accent-900: #686868;

    /* COMPONENT GREY COLORS */
    --table-row-line-color: var(--grey-accent-400);

    /* black pallete */
    --black-accent-100: #212121;
    --black-accent-200: #4F4F4F;    

    /* green pallete */
    --green-accent-100: #388909;
    --green-faded-accent-100: #d5f6bd;

    /* red pallete */
    --red-accent-100: #FF0000;
    --red-accent-faded-100: #FFE0E0;

    /* yellow pallete */
    --yellow-accent-100: #dd9d44;
    --yellow-faded-accent-100: #fcf5ec;

    --purple-accent-100: #7605A3;
    --purple-accent-faded-100: #FBF1FF;

    /* shadows */
    --shadow-container-100: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    --shadow-sidebar-200: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    --shadow-table-300: 0px 17px 42px -12px rgba(16, 24, 40, 0.14);
    --shadow-card-100: 0px 32px 64px -12px rgba(16, 24, 40, 0.08);

    /* radii */
    --radius-container-100: 16px;
    --radius-input-field-100: 4px;

    /* DIMENSIONS */
    --sidebar-width: 20%;

    --absolute-z-index-modal: 0;

    --absolute-z-index-dropdown: 100;

    --mobile-dashboard-navbar-header-height: 60px;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
}

a {
  -webkit-text-decoration: 0;
  text-decoration: 0;
  color: inherit;
}

.font-icon {
  font-size: 1.6rem;
}
