.assessment_question_card {
    box-shadow: var(--shadow-card-100);
    background: white;
    padding: 32px;

    border-left: 3px solid var(--blue-accent-200);
    border-radius: 3px;
    cursor: pointer;
}
.category {
    background: var(--grey-accent-200);
    text-transform: capitalize;
    font-size: 0.8rem;
    border-radius: 1000px;
    padding: 5px 10px;
    text-align: center;
    width: max-content;
    font-weight: 600;
}
.question_text {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    margin-top: 5%;
}
.number {
    font-weight: 600;
    color: var(--red-accent-100);
}
.text {
    display: flex;
    gap: 1rem;
}

.icon_edit {
    width: 20px;
}

.heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 60px;
    padding: 0 5%;
  }
  
  .number_circle {
    border: 1px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    font-size: 20px;
    font-weight: 500;
  }
  
  .form_content {
    margin-left: 5.5%;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .row {
    display: flex;
    gap: 0.6rem;
  }
  .row > div {
    width: calc(100% / 3);
  }
  
  @media screen and (max-width: 414px) {
    .heading {
      width: 80%;
    }
  
    .form_content {
      width: 90%;
      margin: 0 auto;
    }
  
    .row {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 0.5rem;
    }
  
    .row > div {
      width: 100%;
    }
  }

 .buttons {
    margin-top: 10px;

}

.icon_cancel {
    margin-left: auto;
  }
  