.account_reset {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
}
.heading {
  font-weight: 600;
  font-size: 1.5rem;
}
.sub_heading {
  font-weight: 400;
  font-size: 1rem;
}

.right {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 414px) {
  .account_reset {
    flex-direction: column;
  }

  .left {
    width: 100%;
    margin-bottom: 20px;
  }

  .right {
    width: 100%;
  }
}
