.staff_profile_information {
  /* border: 1px solid red; */
}
.section_identity {
  display: flex;
}
.user_info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.user_image {
  border: 1px solid;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.fullname {
  font-weight: 600;
  font-size: 20px;
}
.last_update {
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-accent-700);
}
.edit_profile_button,
.upload_document_button {
  border: 1px solid var(--grey-accent-700);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  padding: 0 10px;
  font-weight: 600;
  background: none;
  color: var(--black-accent-200);
  margin: auto 0 auto auto;
}
.edit_profile_button svg path {
  stroke: var(--black-accent-200);
}
.upload_document_button {
  border-color: var(--dark-blue-faded-accent-200);
  color: var(--dark-blue-faded-accent-200);
}
.upload_document_button svg path {
  stroke: var(--dark-blue-faded-accent-200);
}

.actions {
  margin-left: auto;
}

@media screen and (max-width: 414px) {
  .section_identity {
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
  }

  .fullname {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .last_update {
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-accent-700);
  }

  .edit_profile_button {
    width: 100px;
    height: 35px;
    padding: 0 5px;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0 auto;
  }

  .upload_document_button {
    margin-right: 0;
  }
}
