.header, .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    height: 60px;
}
.header {
    border-bottom: 1px solid var(--grey-accent-300);
}

.content {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    border-top: 1px solid var(--grey-accent-300);
    justify-content: flex-end;
}