.icon_btn_container {
    height: 50px;
    border-radius: 1000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    text-align: center;
    outline: none;
}
.icon_btn_container path {
    fill: inherit;
    stroke: inherit;
}

.btn_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

