.header {
  position: fixed;
  --side-padding: 5%;
  height: var(--mobile-dashboard-navbar-header-height);
  width: calc(100vw - calc(var(--side-padding) * 2));
  padding: 0 var(--side-padding);

  overflow: hidden;
  top: 0;
  left: 0;

  background: var(--grey-accent-100);

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 999;
}

.logo_image {
  width: 45px;
}
.logo_image img {
  -o-object-fit: contain;
  object-fit: contain;
}

.fn_icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.navigation_section {
  position: fixed;
  width: 100vw;
  height: calc(100% - var(--mobile-dashboard-navbar-header-height));
  top: calc(var(--mobile-dashboard-navbar-header-height) - 2px);
  left: -100%;
  right: 100%;
  bottom: 0;
  background: var(--grey-accent-100);
  z-index: 100;
}
.drawer_open {
  -webkit-animation: slideIn ease-in-out 0.2s forwards;
  animation: slideIn ease-in-out 0.2s forwards;
}
.drawer_close {
  -webkit-animation: slideOut ease-in-out 0.2s forwards;
  animation: slideOut ease-in-out 0.2s forwards;
}
@-webkit-keyframes slideIn {
  100% {
    left: 0;
    right: 0;
  }
}
@keyframes slideIn {
  100% {
    left: 0;
    right: 0;
  }
}

@-webkit-keyframes slideOut {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
    right: 100%;
  }
}

@keyframes slideOut {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
    right: 100%;
  }
}

.navigation_bar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5%;
}
.navigation_item {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0% 10%;
  color: rgb(27, 27, 27);

  color: var(--grey-accent-900);
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.navigation_item:hover {
  background: var(--grey-accent-200);
}

.navigation_item.active {
  color: var(--orange-accent-800);
  fill: var(--orange-accent-800);
  background: var(--grey-accent-300);
}

.nav_label {
  margin-left: 5%;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.user_profile,
.auth_nav {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.auth_nav .navigation_item {
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  color: var(--teal-accent-100);
  font-size: 1.2rem;
}

.logout_btn {
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  color: var(--crimson-accent-100);
  font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
  .header,
  .navigation_section {
    display: none;
  }
}
