.form_state_modal {
    position: fixed;
    top: 2%;
    right: 2%;
    min-width: 300px;
    min-height: 40px;
    border-radius: 12px;
    padding: 5px 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: white;
}
.error_state {
    background: var(--red-accent-100);
}
.success_state {
    color: var(--green-accent-100);
    border: 1px solid var(--green-accent-100);
    background-color: var(--green-faded-accent-100);
}

.close_icon {
    cursor: pointer;
}
.error_state .close_icon path {
    fill: white;
    stroke: var(--red-accent-100);
}

.success_state .close_icon path {
    fill: none;
    stroke: var(--green-accent-100);
}