.administration_outlet {
  padding: 5%;
}

@media screen and (max-width: 414px) {
  .administration_outlet {
    padding: 5%;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: var(--mobile-dashboard-navbar-header-height);
  }
}
