/* .staff_offices_list {
} */
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-weight: 600;
  font-size: 1.2rem;
}

@media screen and (max-width: 414px) {
  .heading {
    padding: 5px 0;
    margin-bottom: 10px;
  }
}
