.medication_service_card {
    border-left: 2px solid var(--blue-accent-100);
    border-radius: 5px;
    height: 6rem;
    padding: 2rem;
    box-shadow: var(--shadow-card-100);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.title {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--black-accent-100);
    text-transform: capitalize;
}