table {
  width: 100%;
  background: white;
  margin-top: 1%;
  box-shadow: var(--shadow-table-300);
  border-radius: 16px;
  border-collapse: collapse;
}

/* TABLE HEAD */
thead {
  height: 80px;
}
thead th {
  text-align: center;
  color: var(--blue-accent-200);
  font-weight: 600;
}

/* TABLE BODY */
tbody tr {
  height: 80px;
}
tbody td {
  border-top: 1px solid var(--table-row-line-color);
}
th,
td {
  padding: 0 40px;
}

.table_pagination {
  --page-numbers-width: calc(100% - calc(20px * 2));
  margin: 5% 5% 5% auto;
  height: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: 50px;
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.table_pagination::-moz-selection {
  background: none;
  color: 0;
}
.table_pagination::selection {
  background: none;
  color: 0;
}
.page_button {
  height: 100%;
  padding: 0 5px;
  border-radius: 5px;
  color: var(--grey-accent-500);
  cursor: pointer;
}
.page_button.inactive {
  cursor: not-allowed;
}
.page_numbers {
  height: 100%;
  color: grey;
  display: flex;
  justify-content: space-between;
}
.page_number {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 15px;
  font-weight: 800;
  color: var(--grey-accent-500);
  cursor: pointer;
}
.current_page {
  background: var(--green-accent-100);
  color: white;
  border-radius: 5px;
}

.empty_table_message {
  font-size: 1.5rem;
  color: var(--grey-accent-700);
  text-align: center;
  margin-top: 50px;
}

.table_wrapper {
  /* border: 1px solid blue; */
}

.table_head {
  /* border: 1px solid greenyellow; */
  /* text-align: center; */
  /* display: none; */
}
/* .mobile_pagination {
  display: none;
} */

@media screen and (max-width: 414px) {
  table {
    box-shadow: none;
    box-sizing: border-box;
  }

  thead {
    display: none;
  }

  /* TABLE BODY */
  tbody tr {
    height: 80px;
  }
  tbody td {
    border-top: 1px solid var(--table-row-line-color);
    font-size: 0.8rem;
    box-sizing: border-box;
  }
}
