.list {
    margin-top: 5%;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.empty_list_message {
    font-size: 1.5rem;
    color: var(--grey-accent-700);
    text-align: center;
    margin-top: 50px;
}