.container {
    width: 100%;
}
.display {
    border: 1px solid var(--grey-accent-500);
    height: 60px;
    width: 100%;
    padding: 0 var(--input-field-padding);
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    cursor: pointer;

    position: relative;
    color: var(--grey-accent-800);
}
.is_open {
    border-color: var(--blue-accent-100);
}
.bottom_offset {
    margin-bottom: 100%;
}
.selected_option {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    text-transform: capitalize;
    cursor: pointer;
}
.unselected {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1em;
    color: var(--grey-accent-800);
}

.options_container {
    position: absolute;
    z-index: var(--absolute-z-index-dropdown);
    width: 100%;
    top: 110%;
    left: -0.3%;
    max-height: 400%;
    overflow-y: auto;

    border: 1px solid var(--grey-accent-300);
    box-shadow: var(--shadow-200);

    background: white;
    border-radius: 5px;
}
.option, .action_option {
    padding: 1.1rem;
    font-size: 1rem;
    color: var(--grey-accent-900);
    font-weight: 500;
}
.bottom_offset .option {
    padding: 0.5rem;
}
.option:hover {
    background: var(--blue-accent-faded-100);
}
.action_option {
    padding: 0.5rem;
}
.action_option_btn {
    font-size: 0.8rem;
    width: max-content;
    align-items: center;
    gap: 1rem;
    display: flex;
    background: var(--dark-blue-accent-100);
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
}
.action_option_btn.disabled_btn {
    opacity: 0.5;
}
.search_bar_wrapper {
    height: 100%;
    overflow: hidden;
    padding: 0 2%;
    width: 100%;
}
.search_bar {
    background: transparent;
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
}
.search_bar::placeholder {
    color: lightgrey;
    font-size: 0.9rem;
}
.label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.error {
    font-size: 0.8em;
    color: red;
}
.field_error {
    border-color: red;
}
.disable_dropdown {
    background: var(--grey-accent-300);
    opacity: 0.7;
}