.row_container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.align_top {
    align-items: flex-start;
}
.align_center {
    align-items: center;
}
.align_bottom {
    align-items: flex-end;
}