.tags {
    padding: 5px 0;

    display: flex;
    align-items: center;
    gap: 0.2rem;
    flex-wrap: wrap;
}
.tag {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.9rem;
    padding: 5px 10px;
    background-color: var(--blue-accent-200);
    border-radius: 1000px;
    max-width: max-content;
    cursor: pointer;
}
.tag .text {
    color: white;
    font-weight: 600;
}