.staff_list_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.heading {
  color: var(--black-accent-100);
  font-size: 1.3rem;
  font-weight: 600;
}

@media screen and (max-width: 414px) {
  .staff_list_header {
    padding: 15px;
  }
  .heading {
    font-size: 1.1rem;
  }
}
