.staff_list_header {
    display: flex;
    align-items: center;
}
.heading {
    color: var(--black-accent-100);
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: auto;
}

.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav_link {
    color: var(--dark-blue-accent-200);
    font-weight: 400;
    font-size: 1.1rem;
}